{{ define "main" }}

  <article>
    <header class="title">
      <h2 class="entry-title">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h2>
    </header>
    <div class="text entry-content">
      {{ .Content }}
    </div>
    {{ partialCached "tools/contact-form.html" . }}
  </article>
  
{{ end }}
