{{ define "main" }}

  {{/*

  Template for the search page

  */}}
  <header class="search-header">
    <h2 class="entry-title">{{.Title}}</h2>
  </header>
  <div class="homepage-content">
    {{.Content}}
  </div>
  <div class="row">
    <div class="col-md-2">
       <div id="hits-per-page-selector"></div>
    </div>
    <div class="col-md-10">      
      <div id="search-box"></div>
    </div>
  </div>
  <div><small id="stats-container" class="text-right mb-3"></small></div>
  <div class="pagination-container"></div>
  <div id="hits" class="mb-5"></div>
  <div class="pagination-container"></div>

{{ end }}
