article {

    margin-bottom: $spacer*5;

    .entry-title {

        margin-bottom: 0;
        text-transform: uppercase;
        line-height: 1.2;

        a {
            text-decoration: none;
        }

    }

    .meta {

        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 5px 0;
        line-height: 1;
        margin-bottom: $spacer;

        a {
            text-decoration: none;
        }

        address {
            display: inline-block;
            margin-bottom: 0;
        }

        time {
            i {
                margin-left: 0.2rem;
            }
        }

    }

    .entry-content {
        margin-bottom: $spacer;
    }

    blockquote.blockquote {

        border-left: 5px solid theme-color("redish");
        background-color: rgba(theme-color("redish"), 0.05);
        padding: $spacer;
        border-radius: $border-radius-lg;

    }

    iframe {
        border: 0;
        width: 100%;
    }

    .is--soundcloud {
        height:130px;
        background-color: #fff;
    }

}
