body {
    -webkit-font-feature-settings: "onum","tnum","salt","calt","liga","dlig","clig","hlig","zero";
    font-feature-settings: "onum","tnum","salt","calt","liga","dlig","clig","hlig","zero"
}

#content {
    background-color:  theme-color("yellowish");
}

h1 {
    text-transform: uppercase;
    a {
        -webkit-transition: color .8s ease;
        transition: color .8s ease;
        &:hover {
            text-decoration:none;
        }
    }
}

::-moz-selection,::selection {
    background-color: theme-color("aubergine");
    color: theme-color("yellowish");
}
