<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
<link rel="publisher" href="https://plus.google.com/b/116934544398526568907/"/>
{{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Samui Suche">