{{/* Required Open Graph Info */}}
{{/*
https://developers.facebook.com/docs/sharing/webmasters
<meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
*/}}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="{{ if .Params.ogtype }}{{ .Params.type }}{{ else }}article{{ end }}" />
{{/*
add ogtype: 'something' to each md file that should NOT show article here
*/}}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
{{ with .Params.images }}{{ range first 6 . }}
	<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}{{ end }}
<meta property="og:locale" content="{{ .Site.LanguageCode }}"/>
<meta property="fb:app_id" content="{{ .Site.Params.social.facebook.appid }}"/>

{{/* @TODO implement for posts */}}
<meta property="article:author" content="https://www.facebook.com/patrick.kollitsch" />
<meta property="article:publisher" content="https://www.facebook.com/samuisamui" />
{{if .IsPage}}
<meta property="article:published_time" content="{{ .PublishDate }}" />
{{ end }}
<meta property="article:modified_time" content="{{ .Date }}" />
{{ with .Params.tags }}
	{{ range first 6 . }}
		<meta property="article:tag" content="{{ . }}" />
	{{ end }}
{{ end }}

{{/* Facebook Page Admin ID for Domain Insights */}}
{{ with .Site.Params.social.facebook.profileid }}
<meta property="fb:admins" content="{{ . }}" />
{{ end }}
