

.flag-en, .flag-de, .flag-th {
    display: inline-block;
    width: 24px;
    height: 16px;
    line-height: 16px;
}

.flag-en {

      background-image: url(/assets/images/gb.png);
}
.flag-de {

      background-image: url(/assets/images/de.png);
}
.flag-th {

      background-image: url(/assets/images/th.png);
}
