[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tropicalisland' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-tags {
  &:before {
    content: $icon-tags;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-question-circle {
  &:before {
    content: $icon-question-circle;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-twitter-square {
  &:before {
    content: $icon-twitter-square;
  }
}
.icon-facebook-square {
  &:before {
    content: $icon-facebook-square;
  }
}
.icon-comments {
  &:before {
    content: $icon-comments;
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-google-plus-square {
  &:before {
    content: $icon-google-plus-square;
  }
}
.icon-money {
  &:before {
    content: $icon-money;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-archive {
  &:before {
    content: $icon-archive;
  }
}

