.social-media-buttons {

  .btn-facebook {
    @include button-variant(#3b5998, #fff, #3b5998);
  }

  .btn-google {
    @include button-variant(#ea4335, #fff, #ea4335);
  }

  .btn-linkedin {
    @include button-variant(#0077b5, #fff, #0077b5);
  }

  .btn-twitter {
    @include button-variant(#1da1f2, #fff, #1da1f2);
  }

}
