<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}{{ end }}</title>
    {{ partial "head/metadata.html" . }}
    {{ partial "head/open_graph.html" . }}
    {{ partial "head/twitter.html" . }}
    {{ partialCached "head/favicon.html" . }}
    {{ $path := printf "assets/css/theme-%s.css" $.Site.Params.version }}
    <link rel="stylesheet" href="{{ $path | absURL }}">
    {{ .Hugo.Generator }}
  </head>
  <body id="{{ .Site.Params.Siteslug }}">
    {{ partialCached "header/brand.html" . }}
    {{ partial "header/navigation.html" . }}
    <div id="content" class="container">
      <div id="contentcolumn" class="row">
        <div class="col-12">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </div>
    {{ partialCached "footer/author.html" . }}  
    {{ partialCached "footer/tagcloud.html" . }}  
    {{ partialCached "footer/copyright.html" . }}
    {{ partialCached "footer/finisher.html" . }}
    {{ $path := printf "assets/js/script-%s.js" $.Site.Params.version }}
    <script src="{{ $path | absURL | safeURL }}"></script>
  </body>
</html>
