{{/*
layout for single items without template in TYPE/single.html
page layout
*/}}
{{ define "main" }}
<article >
	<header class="title">
		  <h2 class="entry-title">
		    <a href="{{ .Permalink }}">{{ .Title }}</a>
		  </h2>
		<div class="meta">
		  <div class="row">
		    <div class="col-md-9 is--taglist">
		      {{ with .Params.tags }}
		        <i class="fas fa-tags" aria-hidden="true"></i>&nbsp;
		        {{ range $i, $e := . }}
		          {{ if $i }}/{{ end }}
		          <a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{ $e }}</a>
		        {{ end }}
		      {{ end }}
		    </div>
		    <span class="col-md-3 text-sm-left text-xs-left text-md-right">
		      <time class="post-date updated" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
		        <i class="fas fa-calendar-alt" aria-hidden="true"></i>&nbsp;
		        {{ .Date.Format "2" }}.
		        {{ index $.Site.Data.months.months .Date.Month }}
		        {{ .Date.Format "2006" }}
		      </time>
		    </span>
		  </div>
		</div>
	</header>

	<div class="text entry-content">
	{{ with .Params.featured_image }}
	  <img src="{{ . | absURL }}" />
	{{ end }}
	{{ .Content }}
	</div>
</article>
{{ end }}
