<footer id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-12">
		<div class="textwidget text-center mt-5 mb-5">
          <span class="copy">&copy; 2004-{{ now.Format "2006" }}</span>
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> | 
          Auf <a href="http://gohugo.io">Hugo {{ .Hugo.Version }}</a> geschmiedet.
        </div>
      </div>
    </div>
  </div>
</footer>
