{{/*
found at https://github.com/kaushalmodi/hugo-bare-min-theme/blob/master/layouts/partials/debugprint.html

Usage examples:
      partial "tools/debugprint.html" .Params
      partial "tools/debugprint.html" .Site
      partial "tools/debugprint.html" .GitInfo
      partial "tools/debugprint.html" .Resources
      partial "tools/debugprint.html" .File

*/}}
{{ $value              := . }}
{{ $type               := (printf "%T" $value) }}
{{ $typeIsBool         := (eq "bool" $type) }}
{{ $typeIsNumber       := (or (eq "int" $type) (eq "int64" $type) (eq "float64" $type)) }}
{{ $typeIsString       := (eq "string" $type) }}
{{ $typeIsTime         := (eq "time.Time" $type) }}
{{ $typeIsInterface    := (eq "interface" $type) }}

{{/*
Mon Feb 05 23:49:35 EST 2018 - kmodi
*hugolib.Menu most likely is not a Slice.. couldn't use range to loop through it.
*/}}
{{ $typeIsSlice        := (findRE "^([[][]]|.*TaxonomyList|output\\.Formats|resource\\.Resources|\\*hugolib\\.Menu)" $type) }} {{/* match ^[] */}}
{{ $typeIsMap          := (findRE "^(map[[].+[]]|.*SiteSocial|\\*hugolib\\.Menus)" $type) }} {{/* match ^map[*] */}}

{{ $typeIsSiteInfo     := (eq "*hugolib.SiteInfo" $type) }}
{{ $typeIsGitInfo      := (findRE "^.*gitmap\\.GitInfo" $type) }}
{{ $typeIsOutputFormat := (eq "output.Format" $type) }}
{{ $typeIsResource     := (findRE "^\\*resource" $type) }}
{{ $typeIsPage         := (findRE "^\\*hugolib\\.Page" $type) }}
{{ $typeIsFileInfo     := (eq "*hugolib.fileInfo" $type) }}
{{ $typeIsMenuEntry    := (eq "*hugolib.MenuEntry" $type) }}
{{ $typeIsSpecial      := (or $typeIsSiteInfo $typeIsGitInfo $typeIsOutputFormat $typeIsResource $typeIsPage $typeIsFileInfo $typeIsMenuEntry) }}

{{ if $typeIsBool }}
    {{ printf "<span class=\"debugprint\"><span class=\"%#v\">%#v</span></span>" $value $value | safeHTML }}
{{ else if (or $typeIsNumber $typeIsString) }}
    {{/*
    Use %#v for strings so that their values always get double-quoted.
    That is helpful to tell if a space char is within a string.
    */}}
    {{ printf "%#v" $value | htmlUnescape }}
{{ else if (or $typeIsTime $typeIsInterface) }}
    {{ printf "%s" $value | safeHTML }}
{{ else if $typeIsSlice }}
    {{ range $value }}
  {{ partial "tools/debugprint.html" . }}{{/* Recursive call FTW! */}}
    {{ end }}
{{ else if $typeIsMap }}
    {{ if (gt (len $value) 0) }}
        <table class="table table-bordered table-condensed debugprint">
            <tr><th class="key">Key</th><th class="type">Type</th><th class="value">Value</th></tr>
            {{ range $key1, $value1 := $value }}
                {{ $type1       := (printf "%T" $value1) }}
                {{ $type1IsTime := (eq "time.Time" $type1) }}
                {{ if $type1IsTime }}
              {{/*  Print the date only if it is not at its initial value of Jan 1, 0001 */}}
                    {{ if (ne "0001-01-01" ($value1.Format "2006-01-02")) }}
                        {{ printf "<tr><td class=\"key\">%s</td><td class=\"type\">%s</td><td class=\"value\">" $key1 $type1 | safeHTML }}
                      {{ partial "tools/debugprint.html" $value1 }} {{/*  Recursive call FTW! */}}
                        {{ printf "</td></tr>" | safeHTML }}
                    {{ end }}
                {{ else }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"type\">%s</td><td class=\"value\">" $key1 $type1 | safeHTML }}
                    {{ partial "tools/debugprint.html" $value1 }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            {{ end }}
        </table>
    {{ end }}
{{ else if $typeIsSpecial }}
    <div class="debugprint">
        {{ if $typeIsSiteInfo }}
            {{ $siteVarNames   := (slice "Title" "Author" "Social" "LastChange" "DisqusShortname" "GoogleAnalytics" "Copyright" "RSSLink" "LanguageCode" "BuildDrafts" "Params") }}
            {{ $siteVarSymbols := (slice .Title  .Author  .Social  .LastChange  .DisqusShortname  .GoogleAnalytics  .Copyright  .RSSLink  .LanguageCode  .BuildDrafts  .Params ) }}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">SiteInfo Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $siteVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $siteVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
        {{ else if $typeIsGitInfo }}
            {{ $gitInfoVarNames   := (slice "Hash" "AbbreviatedHash" "Subject" "AuthorName" "AuthorEmail" "AuthorDate") }}
            {{ $gitInfoVarSymbols := (slice .Hash  .AbbreviatedHash  .Subject  .AuthorName  .AuthorEmail  .AuthorDate ) }}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">GitInfo Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $gitInfoVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $gitInfoVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
        {{ else if $typeIsOutputFormat }}
            {{ $OutputFormatVarNames   := (slice "Name" "MediaType" "Path" "BaseName" "Rel" "Protocol" "IsPlainText" "IsHTML" "NoUgly" "NotAlternative") }}
            {{ $OutputFormatVarSymbols := (slice .Name  .MediaType  .Path  .BaseName  .Rel  .Protocol  .IsPlainText  .IsHTML  .NoUgly  .NotAlternative ) }}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">OutputFormat Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $OutputFormatVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $OutputFormatVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
        {{ else if $typeIsResource }}
            {{ $ResourceVarNames   := (slice "Name" "Title" "ResourceType" "Permalink" "RelPermalink" "Params") }}
            {{ $ResourceVarSymbols := (slice .Name  .Title  .ResourceType  .Permalink  .RelPermalink  .Params ) }}
            {{/* There's .AbsSourceFilename too, but it's not very useful. */}}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">Resource Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $ResourceVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $ResourceVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
            <hr>
        {{ else if $typeIsPage }}
            {{ $PageVarNames   := (slice "Name" "Title" "ResourceType" "Kind" "Draft" "Layout" "Permalink" "RelPermalink" "Params") }}
            {{ $PageVarSymbols := (slice .Name  .Title  .ResourceType  .Kind  .Draft  .Layout  .Permalink  .RelPermalink  .Params ) }}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">Page Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $PageVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $PageVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
            <hr>
        {{ else if $typeIsFileInfo }}
            {{ $FileInfoVarNames   := (slice "UniqueID" "BaseFileName" "TranslationBaseName" "Lang" "Section" "LogicalName" "Dir" "Ext" "Path") }}
            {{ $FileInfoVarSymbols := (slice .UniqueID  .BaseFileName  .TranslationBaseName  .Lang  .Section  .LogicalName  .Dir  .Ext  .Path ) }}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">FileInfo Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $FileInfoVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $FileInfoVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
        {{ else if $typeIsMenuEntry }}
            {{ $MenuEntryVarNames   := (slice "Menu" "Title" "Name" "URL" "Identifier" "Weight" "Pre" "Post" "Parent" "Children") }}
            {{ $MenuEntryVarSymbols := (slice .Menu  .Title  .Name  .URL  .Identifier  .Weight  .Pre  .Post  .Parent  .Children ) }}
            <table class="table table-bordered table-condensed">
                <tr><th class="key">MenuEntry Variable</th><th class="value">Value</th></tr>
                {{ range $idx, $elem := $MenuEntryVarNames }}
                    {{ printf "<tr><td class=\"key\">%s</td><td class=\"value\">" $elem | safeHTML }}
                    {{ partial "tools/debugprint.html" (index $MenuEntryVarSymbols $idx) }} {{/*  Recursive call FTW! */}}
                    {{ printf "</td></tr>" | safeHTML }}
                {{ end }}
            </table>
        {{ else }}
            {{ printf "%#v" $value | safeHTML }}
        {{ end }}
    </div>
{{ else }}
    {{ printf "%#v (<i>type:%s</i>)" $value $type | safeHTML }}
{{ end }}
