<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base href="{{ .Site.BaseURL }}">
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ block "title" . }}{{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}{{ end }}</title>
{{ partial "head/metadata.html" . }}
{{ partial "head/open_graph.html" . }}
{{ partial "head/twitter.html" . }}
{{ partialCached "head/favicon.html" . }}
{{ $path := printf "assets/css/theme-%s.css" $.Site.Params.version }}
<link rel="stylesheet" href="{{ $path | absURL }}">
{{ .Hugo.Generator }}