<div id="topnavigation" class="container">
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#topbarMainNavigation"
      aria-controls="topbarMainNavigation" aria-expanded="false"
      aria-label="Navigation umschalten">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topbarMainNavigation">
      <ul id="menu-topnavigation" class="nav navbar-nav mr-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a href="{{.URL}}" class="nav-link">{{ .Pre }}&nbsp;{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
  <div id="readingprogress" class="progress">
    <div
      class="progress-bar" role="progressbar"></div>
  </div>
</div>
