{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get "name")) }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}

<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
	{{ with .Get "link"}}<a href="{{.}}">{{ end }}
		<img 
		src="{{ if (.Get "name") }}{{ $image.RelPermalink }}{{ else }}{{ .Get "src" }}{{ end }}" 
		{{ if (.Get "name") }}width="{{ $image.Width }}" {{ else }}{{ with "width" }}width="{{.}}" {{ end }}{{ end }}
		{{ if (.Get "name") }}height="{{ $image.Height }}" {{ else }}{{ with "height" }}height="{{.}}" {{ end }}{{ end }}
 		{{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"  {{ end }}
		>
	{{ if .Get "link"}}</a>{{ end }}
	{{ with .Inner }}
		<figcaption>{{ . }}</figcaption>
	{{ end }}
</figure>
